// Defines classes for colors
@import "../../variables.scss";

.aqua {
    color: #00bfbf;
}

.aqua-background {
    background: #00fafa;
}

.black {
    color: #000;
}

.black-background {
    background: #000;
}

.blue {
    color: #0000bf;
}

.blue-background {
    background: #0000fa;
}

.fuchsia {
    color: #bf00bf;
}

.fuchsia-background {
    background: #fa00fa;
}

.gray {
    color: #606060;
}

.gray-background {
    background: #7d7d7d;
}

.green {
    color: #006000;
}

.green-background {
    background: #007d00;
}

.lime {
    color: #00bf00;
}

.lime-background {
    background: #00fa00;
}

.maroon {
    color: #600000;
}

.maroon-background {
    background: #7d0000;
}

.navy {
    color: #000060;
}

.navy-background {
    background: #00007d;
}

.olive {
    color: #606000;
}

.olive-background {
    background: #7d7d00;
}

.purple {
    color: #600060;
}

.purple-background {
    background: #7d007d;
}

.red {
    color: #bf0000;
}

.red-background {
    background: #fa0000;
}

.silver {
    color: #909090;
}

.silver-background {
    background: #bcbcbc;
}

.teal {
    color: #006060;
}

.teal-background {
    background: #007d7d;
}

.white {
    color: #bfbfbf;
}

.white-background {
    background: #fafafa;
}

.yellow {
    color: #bfbf00;
}

.yellow-background {
    background: #fafa00;
}