// Styles for blocks of things. Headings and so on.
@import "../variables.scss";

.subheader,
.admonitionblock td.content>.title,
.audioblock>.title,
.exampleblock>.title,
.imageblock>.title,
.listingblock>.title,
.literalblock>.title,
.stemblock>.title,
.openblock>.title,
.paragraph>.title,
.quoteblock>.title,
table.tableblock>.title,
.verseblock>.title,
.videoblock>.title,
.dlist>.title,
.olist>.title,
.ulist>.title,
.qlist>.title,
.hdlist>.title {
    line-height: 1.45;
    color: $title-text-color;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0.25em;
}

details,
.audioblock,
.imageblock,
.literalblock,
.listingblock,
.stemblock,
.videoblock {
    margin-bottom: $paragraph-margin;
}


.admonitionblock td.content>.title,
.audioblock>.title,
.exampleblock>.title,
.imageblock>.title,
.listingblock>.title,
.literalblock>.title,
.stemblock>.title,
.openblock>.title,
.paragraph>.title,
.quoteblock>.title,
table.tableblock>.title,
.verseblock>.title,
.videoblock>.title,
.dlist>.title,
.olist>.title,
.ulist>.title,
.qlist>.title,
.hdlist>.title {
    text-rendering: optimizeLegibility;
    text-align: left;
    font-family: $serif-font-family;
    font-size: 1rem;
    font-style: italic;
}

table.tableblock.fit-content>caption.title {
    white-space: nowrap;
    width: 0;
}


.admonitionblock>table {
    border-collapse: separate;
    border: 0;
    background: none;
    width: 100%;
}

.admonitionblock>table td.icon {
    text-align: center;
    width: 80px;
}

.admonitionblock>table td.icon img {
    max-width: none;
}

.admonitionblock>table td.icon .title {
    font-weight: bold;
    font-family: $text-font-family;
    text-transform: uppercase;
}

.admonitionblock>table td.content {
    padding-left: 1.125em;
    padding-right: 1.25em;
    border-left: 1px solid #dddddf;
    color: rgba(0, 0, 0, 0.6);
    word-wrap: anywhere;
}

.admonitionblock>table td.content> :last-child> :last-child {
    margin-bottom: 0;
}

.exampleblock>.content {
    border: 1px solid #e6e6e6;
    margin-bottom: $paragraph-margin;
    padding: 1.25em;
    background: #fff;
    border-radius: 4px;
}

.sidebarblock {
    border: 1px solid #dbdbd6;
    margin-bottom: $paragraph-margin;
    padding: 1.25em;
    background: #f3f3f2;
    border-radius: 4px;
}

.sidebarblock>.content>.title {
    color: $title-text-color;
    margin-top: 0;
    text-align: center;
}

.exampleblock>.content> :first-child,
.sidebarblock>.content> :first-child {
    margin-top: 0;
}

.exampleblock>.content> :last-child,
.exampleblock>.content> :last-child> :last-child,
.exampleblock>.content .olist>ol>li:last-child> :last-child,
.exampleblock>.content .ulist>ul>li:last-child> :last-child,
.exampleblock>.content .qlist>ol>li:last-child> :last-child,
.sidebarblock>.content> :last-child,
.sidebarblock>.content> :last-child> :last-child,
.sidebarblock>.content .olist>ol>li:last-child> :last-child,
.sidebarblock>.content .ulist>ul>li:last-child> :last-child,
.sidebarblock>.content .qlist>ol>li:last-child> :last-child {
    margin-bottom: 0;
}


p.tableblock:last-child {
    margin-bottom: 0;
}

td.tableblock>.content {
    margin-bottom: $paragraph-margin;
    word-wrap: anywhere;
}

td.tableblock>.content> :last-child {
    margin-bottom: -1.25em;
}

table.tableblock,
th.tableblock,
td.tableblock {
    border: 0 solid #dedede;
}

.exampleblock>.content {
    background: #fffef7;
    border-color: #e0e0dc;
    box-shadow: 0 1px 4px #e0e0dc;
}