// Contains styles for header, content, footnotes and footer. The main boxes of the document.
@import "../variables.scss";

#header,
#content,
#footnotes,
#footer {
    width: 100%;
    margin: 0 auto;
    max-width: 62.5em;
    *zoom: 1;
    position: relative;
    padding-left: $box-side-padding;
    padding-right: $box-side-padding;
}

#header::before,
#header::after,
#content::before,
#content::after,
#footnotes::before,
#footnotes::after,
#footer::before,
#footer::after {
    content: " ";
    display: table;
}

#header::after,
#content::after,
#footnotes::after,
#footer::after {
    clear: both;
}

#content {
    margin-top: 1.25em;
}

#content::before {
    content: none;
}

#footer {
    max-width: none;
    background: rgba(0, 0, 0, 0.8);
    padding: 1.25em;
}

#footer-text {
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.44;
}

#content {
    margin-bottom: 0.625em;
}