// Styles for header elements
@import "../variables.scss";

#header>h1:first-child {
    color: rgba(0, 0, 0, 0.85);
    margin-top: 2.25rem;
    margin-bottom: 0;
}

#header>h1:first-child+#toc {
    margin-top: 8px;
    border-top: 1px solid #dddddf;
}

#header>h1:only-child,
body.toc2 #header>h1:nth-last-child(2) {
    border-bottom: 1px solid #dddddf;
    padding-bottom: 8px;
}

#header .details {
    border-bottom: 1px solid #dddddf;
    line-height: 1.45;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.25em;
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-flow: row wrap;
}

#header .details span:first-child {
    margin-left: -0.125em;
}

#header .details span.email a {
    color: rgba(0, 0, 0, 0.85);
}

#header .details br {
    display: none;
}

#header .details br+span::before {
    content: "\00a0\2013\00a0";
}

#header .details br+span.author::before {
    content: "\00a0\22c5\00a0";
    color: rgba(0, 0, 0, 0.85);
}

#header .details br+span#revremark::before {
    content: "\00a0|\00a0";
}

#header #revnumber {
    text-transform: capitalize;
}

#header #revnumber::after {
    content: "\00a0";
}