a.abbreviation,
a.abbreviation:hover {
    background: inherit;
    color: inherit;
    font-size: inherit;
    text-decoration: inherit;
    cursor: pointer;
    -webkit-user-select: text;
    user-select: text;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;

    abbr {
        cursor: inherit;
        color: inherit;
        font-size: inherit;
        text-decoration-color: #dddddf;
        text-decoration-style: dashed;
        text-decoration-line: underline;
        border-bottom: none;
    }
}